.clef {
    height:70vh;
    width: 25vw;
    margin-top: 10%;
}





/* body {
    background-image: url('pictures/J treble.png');
    background-size: 26vh 50vw;
    background-repeat: no-repeat;
    margin-top: auto;
} */
/* .clef {
    height: 100%;
    width: 50%;
    z-index: -1;
} */

