body {
    font-family: 'Metrophobic', sans-serif;
}
.content {
  display: grid;
  grid-template-rows: 5em 1fr 1fr 1fr 1fr 1fr 1fr 3em;
  grid-template-columns: 25vw 75vw;
  margin-top: 10%;
}
.clef {
  grid-column: 1;
  grid-row: 1 /8;
  height: 70vh;
  width: 25vw;
  margin-top: 10%;
}
.title {
  grid-column: 2;
  grid-row: 2;
  border-bottom: black solid 2px;
  align-self: end;

}
.home {
  grid-column: 2;
  grid-row: 3;
  border-bottom: black solid 2px;
  align-self: end;
}

.bio {
  grid-column: 2;
  grid-row: 4;
  border-bottom: black solid 2px;
  align-self: end;

}

.work {
  grid-column: 2;
  grid-row: 5;
  border-bottom: black solid 2px;
  align-self: end;

}

/* .media {
    grid-column: 2;
    grid-row: 5;
    border-bottom: black solid 2px;

} */

.contact {
  grid-column: 2;
  grid-row: 6;
  border-bottom: black solid 2px;
  align-self: end;

}
.name {
  grid-column: 2;
  grid-row: 7;
  align-self: center;
}
