.thumbnail_1 {
  /* height: 16%; */
  /* width: 25%; */
  height: 233px;
  width: 364px;
  background-color: var(--gold);
  
}
.thumbnail_2 {
    height: 233px;
    width: 364px;
  /* height: 16%; */
  background-color: var(--gold);
  /* width: 25%; */
}
.thumbnail_3 {
    height: 233px;
    width: 364px;
  /* height: 16%; */
  background-color: var(--gold);
  /* width: 25%; */
}
.project_thumbnails {
  display: flex;
  font-size: 24px;
  background-color: red;
  border-radius: 4px;
  max-height: 300px;
  justify-items:space-evenly;
  margin-bottom: auto 10% 10px 10%;
}
.Portfolio_title {
  display: flex;
  font-family: 'Arvo';
  font-size: 60px;
  width: 100%;
  height: 175px;
}

.Portfolio {
  box-sizing: border-box;
  display: flex-grid;
  grid-row: 2;
  grid-column: auto;
  background-color: black;
  height: 600px;
  color: white;
  border: 2px solid white;
}
