.portfolio_title {
    font-size: 60px;
}

.thumbnail_1 {
    height:233px;
    /* height: 2%; */
    width: 364px;
    /* width: 4%; */
}
.thumbnail_2 {
    height:233px;
    /* height: 2%; */
    width: 364px;
    /* width: 4%; */
}
.thumbnail_3 {
    height:233px;
    /* height: 2%; */
    width: 364px;
    /* width: 4%; */
}
.project_thumbnails {
    display: table-row;
    font-size: 24px;
}
.project_container {
    display: flex;
}
.Portfolio {
    display: flex;
    grid-row: 2;
    grid-column: auto;
    background-color: black;
    height: 600px;
    color: white;
}