.circleLogo {
  width: 60px;
  height: 60px;
  margin: 2.5% auto 2.5% 7%;
}
.Nav_item_wrapper {
white-space: nowrap;
  margin: 3.7% 4.3% 3.7% auto;
}
.Nav_link {
  color: var(--gold);
  list-style: none;
  opacity:1;
}
.Nav_item {
  opacity: 1;
  display: inline-block;
}
.Header {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0,0,0,.2);
  height: 120px;
  margin-top: 0;
}

